.userform {
    /* background-color: green ; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    padding-top: 20%;

    background-color: #4158D0;
    background-image: linear-gradient(43deg, #345B91 0%, #8EB4E9 70%, #DBEAFE 100%);

}

.inputs {
    gap: 40px;
}

.input-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.input-div label{
    font-size: 18px;
}

.input-div input , select{
    border: none;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    color: #fff;
    outline: none;
    letter-spacing:2px;
    transition: all 0.15s ease-in;
    font-weight: lighter;
}

.input-div select option{
    color: black;
}


.input-div input:focus{
    /* box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.23) ; */
    /* box-shadow: none; */
    /* border: 2px solid #1A2E49; */
    box-shadow: 0 3px 6px rgba(10,10,10,0.16), 0 3px 6px rgba(10,10,10,0.23);
}

.input-div input::placeholder{
    color: #bbb;
}